<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.0" htmlParse="false">

   <!-- GENERAL SETTINGS -->
   <item id="studyTitle">My_Q_project</item> 
   <item id="setupTarget">firebase</item>
   <item id="firebaseOrLocal">firebase</item>
   <item id="steinApiUrl">https://api.steinhq.com/v1/storages/63c2c63feced9b09e9b3ec8f</item>


   <item id="shuffleCards">true</item>
   <item id="headerBarColor">#33b83f</item>
   <item id="devMode">false</item>
   

   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">anonymous</item>
   <item id="accessCode">demo</item>


   <!-- FONT OPTIONS -->
   <!-- defaults false, 15, #2a2a2a -->
   <item id="setDefaultFontSize">undefined</item>
   <item id="defaultFontSize">15</item>
   <item id="defaultFontColor">undefined</item>


   <!-- PRESORT -->
   <!-- default colors #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="greenCardColor">#ccffcc</item>
   <item id="yellowCardColor">#e0e0e0</item>
   <item id="pinkCardColor">#ffe0f0</item>
 

   <!-- SORT -->
   <item id="condOfInstFontSize">25</item>
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="setMinCardHeight">undefined</item>
   <item id="minCardHeight">undefined</item>


   <!-- POSTSORT -->
   <item id="showPostsort">true</item>
   <item id="showSecondPosColumn">false</item>
   <item id="showSecondNegColumn">false</item>
   

   <item id="displayNeutralObjects">false</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">true</item>

   <item id="survey">
       <input type="information"></input>
       <note bg="goldenrod">All fields marked with an * are {{{b}}}required.{{{/b}}}</note>
   </item>

   <item id="survey">
        <input type="textarea" required="false"></input>
        <label>1. Περιέγραψε την εμπειρία σου με αυτή τη μεθοδολογία</label>
        <placeholder>input comment here</placeholder>
   </item>

   <item id="survey">
        <input type="select" required="false">Άντρας;;;Γυναίκα;;;Άλλο</input>
        <label>4. Ποιό είναι το φύλο σου?</label>
   </item>

   <item id="survey">
        <input type="checkbox" required="true">δημοτικό;;;γυμνάσιο;;;λύκειο;;;πανεπιστήμιο</input>
        <label>5. Επίπεδο μόρφωσης?*</label>
   </item>

   <item id="survey">
        <input type="rating10" required="false" scale="1;;;2;;;3;;;4;;;5;;;6;;;7;;;8;;;9;;;10">Με βάση το πολιτικό φάσμα όπου 1 σημαίνει αριστερά και 10 δεξιά που θα τοποθερούσες τον εαυτό σου?</input>
        <label>6. {{{u}}}Παρακαλώ {{{/u}}} απάντησε στη πιο κάτω ερώτηση</label>
   </item>


       
  </config>